# Temporary files
*~
*.swp
Backtrace.0
*.tar.gz
*_save
*_bu
out_*
OUT_*
THERMO_APPEND.txt
LiDryer.c_*
*toto*
*NORM.*
fort.*
*plot_*
test.py
extract_*py
convrate_*
CPickler.py_gpu
dodecane_wang.cpp_opt3
drm19.cpp_OK
callgrind.out*
.ccls-cache

# AMReX build directories
d/
o/
f/
extern.f90
AMReX_buildInfo.cpp
tmp_build_dir/

# Executable
*.ex
*.exe
*.agr
*.par


# Run output
*.p3d
plt*
*plt*old*
Backtrace*
chk*
slice*
out*
*.slice

# OSX files
.DS_Store

# Fuego pyc files and scripts
*.pyc
extract.py
script.py
script_therm.py
extract_plot.py

# Folders
TEST/
MF00*/
TEMP00*/
SAVE/
SAVE_file*/
NO_GIT
SuiteSparse
ThirdParty/INSTALL
ThirdParty/BUILD
