[flake8]
max-line-length = 88
max-complexity = 10
select = C,E,F,W,B,B950,N,D
ignore = E203,E302,E501,W503,C901,FS003
docstring-convention = numpy
exclude =
    .git,
    __pycache__,
    *.egg-info,
    .nox,
    .pytest_cache,
    .mypy_cache
